* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
 
    background: black;
    overflow-x: hidden;
    color:white;
}

.short
{
   
    padding: 15px;
    position: fixed;
  
}
    .dark-mode {
    background-color: white;
    color: black;
  }
  .dark-light
  {
      height: 35px;
      width: 35px;
      border: none;
  }
header
 {
    width: 35%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
} 
.user {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
  } 
header .user img
{ 
    height: 25rem;
    width: 25rem;
    
    border-radius: 50%;
    object-fit: cover;
  
    border: 3px solid orange;

}


 .user .text-2
{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: skyblue;
}


 .user .text-3
{
    font-size: 20px;  
    margin-bottom: 10px;
    text-align: center;
    color: skyblue;

}

section
  {
   
    min-height: 100vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 65%;
    float: right; 
    padding-right: 50px;   
  }


.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    border-radius: 5rem;
    background-color: gray;
    color: white;
    text-align: center;
    text-decoration: none;
   
}



.toggle-button {
   
    top: 0rem;
    right: 0rem;
    float: right;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
    position: fixed;
    
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.aboutme
{
    display: flex;
    justify-content: center;

    flex-flow: column;
    font-size: 20px;
    padding-top: 50px;
    
}
.aboutme h1
{
    font-size: 5rem;
 
}

.aboutme h1 span
{
    color: orange;
}
.aboutme h3
{
    font-size: 2.5rem;
    color: white;
}
.aboutme p
{
    font-size: 2rem;
 
    padding: 1.5rem 10px;
    text-align: justify;
}

.aboutmetable
{
    font-size: 20px;
   
    display: flex;  
    padding: 10px; 
}

.aboutmetable tr th
{
    
    text-align: right;
    max-width: 100%;
    color: skyblue;
   
}
.aboutmetable tr td
{
    
    text-align: left;
    padding-left: 10px;
  
}


.btn:hover
{
    background: orange;
    color: black;
}

.education
{
    display: flex;
   
    justify-content: center;
    flex-flow: column;
    padding-top: 50px;
   
}
.education h3
{
    border-bottom:  2px solid gray;
    font-size: 50px;
    padding-bottom: 50px;
    color: orange;
}
.education-table
{
    width: 100%;
 
    padding-top: 20px;
    border-bottom:  2px solid gray;
}
.education-table tr
{
    padding: 10px;
   
}
.education-table td
{
 
    padding: 20px 20px;
    font-size: 20px;  
}
.education-table tr th 
{
    font-size: 25px;
    margin-bottom: 30px;
    text-align: left;
    color: skyblue;
    padding: 20px 20px;
}


.skill
{
  font-size: 20px;
  justify-content: center;
  display: flex;
  flex-flow: column;
  padding-top: 50px;
 
}

.lastli
{
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}
.skill h1
{
    border-bottom: 2px solid gray;
    padding-left: 10px;
    color: orange;
}

.skill ul
{
    
    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-flow: row;
    padding-bottom: 20px;
    padding-top: 20px;
    color: skyblue;
 
}

.skill li
{
    padding-left: 30px;
}

.skillpara
{
    padding-top: 20px;
    font-size: 20px;
}

.skillpara p
{
    padding: 5px;
}



.contact
{
    display: flex;
    flex-direction: row; 
    padding-top: 50px;
}
.about
{
  font-size: 20px;
  align-items: start;
  justify-content: start;
  display: flex;
  flex-flow: column;
  text-align: left;
 
}

.about table
{ 
    font-size: 20px;
}

.about td
{
  
    font-size: 20px;
   
    padding: 10px;
    text-align: left; 
}

.about h3
{
    border-bottom: 2px solid gray;
  
    padding-bottom: 10px ;
    font-size: 30px;
    color: orange;
   
}
.contact1 p 
{
    font-size: 25px;
    padding: 0px 50px 50px 100px;
    color: skyblue;
}

.contactform
{
    display: flex;
    flex-flow: column;
    
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
 
   
}
.sendbtn
{
       display: flex; 
       margin-top: 20px;
}
.contactform .btn:hover
{
    background: orange;
    color: black;
    border: 3px solid white;
}
.contactform .btn
{
    padding: 10px 30px;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 30px;
    border: 3px solid orange;
   
}


.contactform .whatsappbutton
{
    border-radius: 50%;
    border: 3px solid orange;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
  background-color:rgb(97, 156, 9);
    
}


.contact input
{
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: lightgray;
}

.contact textarea
{
    align-items: center;
    justify-content: center;
 
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px 20px;
    background-color: lightgray;
}


.resume
{
    margin-top: 20px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 30px;
    border: 3px solid orange;
}
.resume:hover
{
    background: orange;
    color: black;
    border: 3px solid white;
}

@media only screen and (max-width:840px)
{  
    header 
    {
        
        width: 35%;  
    }
    header .user img {
        height: 15rem;
        width: 15rem;
    }
    .user a {
    
        font-size: 20px;
        margin: 15px;
        
    } .user .text-2
    {
        font-size: 25px;
    }
    
    
     .user .text-3
    {
        font-size: 16px;
    }

    section 
    {
        padding-left: 20px;
        width: 65%;
        padding-right: 0px;   
    }
    
    .education h3
    {
    
        font-size: 40px;
    
    }
   
        .education-table td
    {
    
        padding: 3px 3px;
        font-size: 12px;  
    }
    .education-table tr th 
    {
        padding: 0px 0px;
    }
    .about
    {
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .contact
    {
        display: flex;
        flex-direction: column;
      
    }

    .contact p
    {
        font-size: 20px;
    
    }
    
}



@media (max-width: 500px) {
    header
    {
        width: 100%;
            height: 20%;
            position: fixed;
         
            top: 0;
            overflow: hidden;
            background-color:black;
            color: white;   
    }
    header .user
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color: black;
    }
    
    .navbar-links li a
    {
        display: block;
        font-size: 18px;
        margin: 0px;
        margin-left: 20px;
        padding: 8px;
        border-radius: 0rem;
        background-color: black;
        color: white;
        text-align: start;
    
   
        }
        .toggle-button {
            display: flex;
        }
        .navbar-links {
            display: none;
           
        }

        .navbar-links ul li {
            text-align: center;
        }


        .navbar-links.active {
            display: flex;
        }
       
        header .user img
        {
           height: 5rem;
           width: 5rem;
        }
        header .user .text-2
        {
            font-size: 15px;
        }
        body section 
        {
            width: 100%;
            height: 100%;
            padding-right: 0px;   
        }
        .education-table td
        {
           
            padding: 10px 10px;
            font-size: 15px;  
        }
        .education-table tr th 
        {
            padding: 0px 10px;
        }
        .aboutme,.education,.skill,.contact
        {
            padding-top: 200px;
        }
 

      
}